name: IOT IJK ANDROID DEBUG CI

on:
  push:
    tags-ignore:
      - '*'
    branches:
      - '*'
  pull_request:
    branches: [ master ]

env:
  IOT_SONATYPE_USERNAME: ${{ secrets.IOT_SONATYPE_USERNAME }}
  IOT_SONATYPE_PASSWORD: ${{ secrets.IOT_SONATYPE_PASSWORD }}
  GPG_DECRYPT_PASSPHRASE: ${{ secrets.GPG_DECRYPT_PASSPHRASE }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Download r10e NDK
        run: |
          wget https://dl.google.com/android/repository/android-ndk-r10e-linux-x86_64.zip
          unzip android-ndk-r10e-linux-x86_64.zip
      - name: Build with Gradle
        run: |
          export ANDROID_NDK=./android-ndk-r10e
          sh .github/script/build_armv7a.sh
          cd android/ijkplayer
          ./gradlew :ijkplayer-armv7a:build
          ./gradlew :ijkplayer-java:build
      - name: Publish aar and jar to Maven
        run: |
          ./gradlew :ijkplayer-armv7a:publish
          ./gradlew :ijkplayer-java:publish
